.dialog-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
  .dialog {
    min-width: 260px;
    max-width: 800px;
    width: 80%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    margin: 5px;
    padding: 35px 35px 15px;
    &.confirm {
      max-width: 350px;
    }
  }
}

.fade-enter-active, .fade-enter-active .dialog,
.fade-leave-active, .fade-leave-active .dialog {
  transition: all 0.3s ease-out;
}
.fade-enter {
  opacity: 0;
}
.fade-enter .dialog {
  transform: scale(0.8) translateY(50%);
}
.fade-leave-to {
  opacity: 0;
}
.fade-leave-to .dialog {
  transform: translateY(-50%) scale(0.8);
}